---
title: Archive
layout: blog-section
permalink: /archive.html
---
{% assign current_date = "" %}

{% for post in site.posts %}
  {% capture new_date %}{{ post.date | date: "%B %Y" }}{% endcapture %}

  {% if new_date != current_date %}
    <h2 id="{{ post.date | date: '%m%Y' }}">{{ new_date }}</h2>
    {% assign current_date = new_date %}
  {% endif %}

  <ul>
    <li>
      <a href="{{ post.url }}">
        <h1>{{ post.title }}</h1>
      </a>
      <h5>{{ post.date | date: "%B %d %Y" }}</h5>
      {{ post.excerpt | truncatewords: 50 }}
    </li>
  </ul>
{% endfor %}
  

